# NASA Mars News

In [1]:
# import dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser

In [2]:
# define the path to the chromedriver executable and create an instance of the Browser class
executable_path = {'executable_path': 'C:/Users/Akanksha/Documents/DataAnalytics_Slack/chromedriver_win32 (1)/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# define and visit the url
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# create a soup object to parse the web app
soup_1 = BeautifulSoup(browser.html, 'html.parser')
# print(soup_1.prettify())

In [5]:
news_items = soup_1.find_all('li',class_='slide')

In [6]:
news_title = news_items[0].find('div', class_='content_title').find('a').text
news_p = news_items[0].find('div', class_='article_teaser_body').text

In [7]:
news_title

'Opportunity Emerges in a Dusty Picture'

In [8]:
news_p

"NASA still hasn't heard from the Opportunity rover, but at least the agency can see it again."

# JPL Mars Space Images - Featured Image

In [9]:
# define and visit the second url
url_2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_2)

In [10]:
soup_2 = BeautifulSoup(browser.html,'html.parser')
# print(soup_2.prettify())

In [11]:
image = soup_2.find('article', class_='carousel_item')
image_url = image['style']
image_url

"background-image: url('/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg');"

In [12]:
img_url = image_url.split("'")[1]
img_url

'/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg'

In [13]:
featured_image_url = url_2[:24] + img_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg'

# Mars Weather

In [14]:
url_3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_3)

In [15]:
soup_3 = BeautifulSoup(browser.html,'html.parser')

In [16]:
mars_weather_tweets = soup_3.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
mars_weather_latest = mars_weather_tweets[1].text
mars_weather_latest

'Astronomical autumn begins with the September equinox at 9:54 ET tonight https://www.wral.com/autumn-s-arrival-celebrated-differently-at-different-times-around-the-world/17864537/\xa0…pic.twitter.com/cUArBS7WFV'

# Mars Facts

In [17]:
import pandas as pd

In [18]:
url_4 = "http://space-facts.com/mars/"

In [19]:
tables = pd.read_html(url_4)
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
# generate html table from dataframe
html_table = df.to_html(header=None, index=False)
html_table

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [21]:
url_5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_5)

In [24]:
soup_5 = BeautifulSoup(browser.html,'html.parser')

In [25]:
results = soup_5.find_all('div', class_='description')
hemispheres_list = []
for result in results:
    title = result.find('a',class_="itemLink product-item").text
    browser.click_link_by_partial_text(title)
    soup_6 = BeautifulSoup(browser.html,'html.parser')
    partialImgUrl = soup_6.find('img',class_="wide-image")["src"]
    img_url = url_5[ :29] + partialImgUrl
    dict_ = {"title": title,
            "img_url": img_url}
    hemispheres_list.append(dict_)
    browser.click_link_by_partial_text('Back')
print(hemispheres_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]